@font-face {
    font-family: "kuma";
    src: url("https://s.tbcdn.cn/g/platform/common/fonts/kuma.eot"); /* IE9*/
    src: url("https://s.tbcdn.cn/g/platform/common/fonts/kuma.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("https://s.tbcdn.cn/g/platform/common/fonts/kuma.woff") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */ url("https://s.tbcdn.cn/g/platform/common/fonts/kuma.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("https://s.tbcdn.cn/g/platform/common/fonts/kuma.svg#kuma") format("svg"); /*  iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: "kuma";
    font-style: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}